<%- include('partials/header', { title: "Home" }) %>

    <main class="container">
        <h1>Bem-vindo ao Sistema</h1>
        <p>Este projeto consiste no desenvolvimento de uma aplicação web estruturada no padrão MVC
            (Model-View-Controller), utilizando Node.js e Express. O principal objetivo é aplicar, na prática, conceitos
            fundamentais de organização de código, separação de responsabilidades e gerenciamento de rotas em uma
            aplicação web.</p>
            <br>

        <p>A plataforma foi criada para simular um sistema simples, porém funcional, permitindo ao usuário navegar entre
            diferentes páginas e interagir com um módulo de gerenciamento de produtos. Todos os dados são manipulados em
            memória, utilizando estruturas como listas (arrays), sem a necessidade de integração com banco de dados
            nesta etapa.</p>
            <br>
        <p>Funcionalidades do Sistema</p>
            <br>
        <p>A aplicação é composta por quatro seções principais:</p>
            <br>
        <p>Home: Página inicial com apresentação geral do projeto.</p>
        <p>Sobre: Informações sobre os objetivos da aplicação e seu desenvolvimento.</p>
        <p>Contato: Formulário visual para simulação de contato com o desenvolvedor.</p>
        <p>Produtos: Área completa de gerenciamento (CRUD), onde é possível:</p>
        <p>Listar produtos cadastrados</p>
        <p>Adicionar novos produtos</p>
        <p>Editar informações existentes</p>
        <p>Excluir produtos da lista</p>
        <p>Objetivo do Projeto</p>
            <br>
        <p>Este sistema foi desenvolvido com foco educacional, visando consolidar conhecimentos em desenvolvimento web,
            especialmente no uso do padrão MVC. Além disso, busca reforçar boas práticas de programação, organização de
            código e construção de interfaces intuitivas.</p>
            <br>
        <p>Sobre o Desenvolvimento</p>
            <br>
        <p>Durante o desenvolvimento, foram considerados aspectos como:</p>
            <br>
        <p>Estruturação adequada de pastas e arquivos</p>
        <p>Clareza e organização do código</p>
        <p>Funcionamento correto das rotas e funcionalidades</p>
        <p>Interface amigável e de fácil navegação</p>
            <br>
        <p>Este projeto também valoriza habilidades importantes como resolução de problemas, comunicação técnica e
            evolução contínua no processo de aprendizagem.</p>
    </main>

    <%- include('partials/footer') %>