<%- include('partials/header', { title: "Produtos" }) %>

<h1>Bem-vindo à Produtos</h1>

<form action="/produtos" method="POST">
    <input type="text" name="name" placeholder="Nome do produto" required>
    <input type="number" name="price" placeholder="Preço do produto" required>
    <button type="submit">Adicionar Produto</button>

<%- include('partials/footer') %>